<div class="sidebar hidden-sm-down">
    <ul class="nav in" id="side-menu">
    <!-- <li class="sidebar-search hidden-sm hidden-md hidden-lg">
           
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span></div>
             /input-group
        </li>    -->
        <li class="user-pro">
            <a class="text-center">
                <div class="profile-img">
                    <img src="https://dev.dwp.firstqa.com/server/common/api/v7/userProfileImage/get?loginName={{loginname}}"/>
                </div>
                <span>{{username}}</span>
                <small class="text-center">{{role}}</small>
                <small class="text-center">Email: {{email}}</small>
                <small class="text-center">{{companyname}}</small>
            </a>
        </li>
        <li><a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="waves-effect"><i class="fa fa-home"></i> <span
                class="hide-menu">Dashboard</span></a>
        </li>
        <li>
            <a [routerLink]="['/submitworkflow']" [routerLinkActive]="['active']">
                <i class="fa fa-inbox"></i>
                <span class="hide-menu">My Inbox</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/ui-elements']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">UI Elements</span>
            </a>
        </li>
        <li>
            <a  [routerLink]="['/forms']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">Form</span>
            </a>
        </li>
        <li>
            <a  [routerLink]="['/tables']" [routerLinkActive]="['active']">
                <i class="fa fa-bars"></i>
                <span class="hide-menu">Tables</span>
            </a>
        </li>
        <li>
            <a  [routerLink]="['/loginpage']" [routerLinkActive]="['active']" (click)="onLoggedout()">
                <i class="fa fa-sign-out"></i>
                <span class="hide-menu">Log Out</span>
            </a>
        </li>
    </ul>
</div>